.loginContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.form {
  background: #202020;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  border-radius: 9px;
  gap: 3rem;

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;

    .inputBox {
      position: relative;
      width: 100%;

      .label {
        position: absolute;
        color: #9f9f9f;
        left: 1rem;
        top: 25%;
        pointer-events: none;
        transition: 0.5s;
      }

      .labelSenha {
        top: 25%;
      }

      svg {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: #545454ea;
        cursor: pointer;
        font-size: 1.25rem;
      }

      input {
        padding: 0.4rem 1rem;
        font-size: 1.25rem;
        outline: none;
        border: 1px solid #9f9f9f04;
        border-radius: 6px;
        width: 100%;
        box-sizing: border-box;
      }

      .errorMessage {
        color: red;
        font-size: 0.8rem;
        margin: 0.6rem 0.2rem;
        pointer-events: none;
      }
    }

    span,
    a {
      font-size: 1.2rem;
    }

    a {
      color: #113dbf;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    button {
      background: #bebcbc;
      border: none;
      padding: 0.6rem 4rem;
      border-radius: 10rem;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      transition: 0.5s;
      font-weight: 500;
      letter-spacing: 0.025rem;
      font-size: 1.15rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #3d3c3c;
      }
    }

    .googleBtn {
      background: #fff;
      color: #000;

      gap: 1rem;

      &:hover {
        background: #fff;
      }

      &:hover > img {
        animation: spinIcon 1s;
      }
    }
  }
}

@keyframes spinIcon {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1);
  }
}

input:focus + .label,
input:not(:placeholder-shown) + .label {
  font-size: 0.8rem;
  color: #fff;
  transform: translateY(-2rem);
}

@media (max-width: 425px) {
  form {
    width: 100vw;
    height: 100vh;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;

    .logo {
      margin-bottom: 3rem;
    }

    .formContainer {
      justify-content: center;
      width: 90%;
      text-align: center;

      .inputBox {
        input {
          font-size: 1.45rem;
        }
      }
    }
  }
}
