.modal {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #72727234;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 9999999999;

  .mdContainer {
    background: #fff;
    border-radius: 10px;
    padding: 2rem 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.95rem;

    button {
      border: none;
      border-radius: 6px;
      padding: 0.8rem 4rem;
      font-size: 1.25rem;
      cursor: pointer;
      transition: 0.25s;

      &:hover {
        color: #fff;
        background: #000;
      }
    }

    svg {
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 10px;
      background: #c5c5c5;
      padding: 0.5rem;
      font-size: 1.15rem;
      cursor: pointer;
      transition: 0.15s;

      &:hover {
        background: red;
        color: #fff;
      }
    }
  }
}
