.card {
  background-color: #1c1c1c;
  color: #fff;
  padding: 2.5rem;
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "box1 box2"
    "box3 box4"
    "box5 box4"
    "box6 box6";
  gap: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  margin: 1rem auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.data,
.hora,
.barbeiro,
.valor {
  background-color: #2e2e2e;
  padding: 0.8rem 1rem;
  border-radius: 6px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.servicos {
  background-color: #2e2e2e;
  padding: 0.8rem 1.25rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.servico {
  background-color: #3a3a3a;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  font-size: 0.95rem;
  transition: background 0.3s;
  pointer-events: none;
  color: #fff;
}

.valor {
  font-weight: bold;
  text-align: right;
  font-size: 1.1rem;
  background-color: #333;
}

button {
  border: none;
  border-radius: 6px;
  padding: 0.6rem 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    color: #fff;
    background: red;
  }
}
