.navContainer {
  background: #c1c1c2;
  height: 100vh;
  position: fixed;
  width: 25%;
}

nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .userInfo {
    padding: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;

    span {
      font-size: 1.25rem;
      display: flex;
      gap: 0.3rem;
      font-weight: 300;
      flex-direction: column;

      .userName {
        font-weight: bolder;
        font-size: 1.3rem;
      }

      .userRole {
        font-weight: 300;
        font-size: 1rem;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;

    li {
      font-size: 1.25rem;
      width: 100%;
      padding: 2rem 4rem;
      box-sizing: border-box;
      border-bottom: 1px solid #00000045;
      cursor: pointer;
      transition: 0.25s;

      &:first-child {
        border-top: 1px solid #00000045;
      }

      &:hover {
        background: #858484;
        color: #fff;
      }
      a {
        display: flex;
        align-items: center;
        gap: 0.9rem;
        width: 100%;
        cursor: pointer;
      }
    }
  }

  .navFooter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 2rem;

    button {
      border: none;
      background: none;
      font-size: 1.2rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.4rem;
      transition: 0.25s;

      svg {
        font-size: 2rem;
      }

      &:hover {
        color: #fff;
      }
    }
  }
}
